@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav ul li{
    display: inline-block;
    padding: 25px;
}
nav{
    background: linear-gradient(180deg,#111 20%,rgba(20,44,105,0) 60%),#1a1a1a!important;
}
a{
    text-decoration: none;
}

header{
    background: linear-gradient(360deg,#111 20%,rgba(20,44,105,0) 60%),#1a1a1a!important;       
    text-align: center;
}

main {
    background-color: #711e2d;
}

footer{
    color: white;
    background: linear-gradient(360deg,#111 20%,rgba(20,44,105,0) 60%),#1a1a1a!important;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}
footer ul li{
    display: inline;
    padding: 20px;      
    font-size: 25px;
}

img{
    height: 150px;
    margin: 30px;
    border-radius: 10%;
}
h1{
    background-color: rgb(33, 114, 185);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
    letter-spacing: 5px;
}
h2{
    background-color: aliceblue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

ul{
    list-style: none;
}
li{  
    padding: 20px 0;
}


.datos{
    margin: 20px;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}
.datos div{
    margin-right: 10px;
}



